{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <div class="card border-primary mb-3">
        <div class="card-body">
            <h4 class="card-title text-center">Louer des amis rapidement grâce à Tentatives</h4>
            <img class="img-fluid rounded mx-auto d-block" style="height: 500px"
                 src="https://images.pexels.com/photos/2026764/pexels-photo-2026764.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                 alt="">
        </div>
    </div>

    
{% endblock %}
